@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

body {
  margin: 0;

  // background-color: #f09d51;
  // background: linear-gradient(
  //   to top,
  //   #f09d51,
  //   #e66465,
  //   #9198e5,
  //   rgb(19, 5, 54)
  // );

  background: linear-gradient(#e66465, 2%, #f09d51);

  font-family: "Open Sans", sans-serif;

  overflow: hidden;
  transition: background-color 0.5s cubic-bezier(0.5, 0, 0.1, 1);

  &.dead {
    background-color: black;
  }
}

main {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 101vw;
  height: 100vh;

  // overflow: hidden;

  canvas {
    width: 100%;
    height: 100%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: #f09d51;

  transform: translateY(-100%);
  transition: transform 1s cubic-bezier(0.5, 0, 0.1, 1);
  z-index: 5;

  &-on {
    transform: translateY(0);
  }
}

.foreground {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: white;
  pointer-events: none;

  opacity: 0;
  z-index: 1;
}

.button {
  padding: 16px 20px;
  border: none;
  border-radius: 10px;

  font-size: 2rem;

  transition: opacity 0.4s ease-in-out;

  &-continue {
    position: absolute;
    bottom: 10vh;
  }
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.show {
  opacity: 1;
  pointer-events: all;
}

.score {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 5vmax;
  height: 5vmax;

  margin: 40px;

  // background-color: white;
  border-radius: 10px;
  font-size: 3rem;

  color: white;

  &_frame {
    position: absolute;
    width: 90%;
    height: 90%;

    border: 1px solid white;

    transform: rotate(45deg);
  }

  span {
    position: absolute;
  }
}

.paralax {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: -1;

  canvas {
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;
  }

  svg {
    width: 100vw;
    height: 100vh;

    path {
      &:nth-of-type(1) {
        fill: hsl(29, 84%, 63%);
      }

      &:nth-of-type(2) {
        fill: hsl(33, 84%, 63%);
      }

      &:nth-of-type(3) {
        fill: hsl(36, 84%, 63%);
      }
    }
  }

  &.shake {
    animation: shake-3 0.6s linear;
  }
}

@mixin animation-mixin($name, $intencity) {
  @keyframes #{$name} {
    10%,
    90% {
      transform: translate3d($intencity * -1px, 0, 0);
    }

    20%,
    80% {
      transform: translate3d($intencity * 2px, 0, 0);
    }

    30%,
    50%,
    70% {
      transform: translate3d($intencity * -4px, 0, 0);
    }

    40%,
    60% {
      transform: translate3d($intencity * 4px, 0, 0);
    }
  }
}

@include animation-mixin(shake-3, 1);
