body {
  margin: 0;

  background-color: #f09d51;

  transition: background-color 0.5s cubic-bezier(0.5, 0, 0.1, 1);

  &.dead {
    background-color: black;
  }
}

main {
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  canvas {
    width: 100%;
    height: 100%;
  }
}

.foreground {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: white;
  pointer-events: none;

  opacity: 0;
  z-index: 1;
}
