@font-face {
  font-family: 'WremenaLight';
  src: url('assets/fonts/WremenaLight.woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wremena';
  src: url('assets/fonts/WremenaRegular.woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
