.home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .trees {
    grid-column: 2 / span 3;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #9fd4b7;
  }

  .canopy {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28vw;
    height: 55vh;

    // background-color: #008000;
    background-image: linear-gradient(rgba(154, 205, 50, 1), #008000, rgba(154, 205, 50, 0));
    opacity: .5;

    transform: translate(-50%, -50%);

    &_layers {
      position: relative;
      width: 100%;
      height: 100%;

      > div {
        position: absolute;
        width: 100%;
        height: 100%;
  
        background-color: rgba(154, 205, 50, 1);
        opacity: .4;

        transform-origin: 50% 50%;
  
        &:nth-of-type(1) {
          transform: rotate(10deg);
        }
  
  
        // &:nth-child(1) {
        //   width: 20%;
        //   height: 50%;
        // }
  
        // &:nth-child(2) {
        //   width: 20%;
        //   height: 50%;
        //   margin-top: 70px;
        // }
  
        // &:nth-child(3) {
        //   width: 20%;
        //   height: 50%;
        // }
  
        // &:nth-child(4) {
        //   width: 10%;
        //   height: 20%;
        // }
  
        // &:nth-child(5) {
        //   width: 40%;
        //   height: 10%;
        // }
  
        // &:nth-child(6) {
        //   margin-top: 50px;
        //   width: 45%;
        //   height: 43%;
        // }
  
  
      }
    }

    
  }

  canvas {
    width: 50vw;
    height: 100vh;

    filter: brightness(200%);
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    header {
      width: 80%;

      h2 {
        font-size: 2rem;
      }
    }
    h1 {
      font-size: 4rem;
    }
  }
}
