@font-face {
  font-family: 'WremenaLight';
  src: url('/WremenaLight.woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wremena';
  src: url('/WremenaRegular.woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
