@import './reset.scss';
@import './style/resolutions.scss';
@import './style/font.scss';

:root {
  --bezier: cubic-bezier(0.33, 1, 0.68, 1);

  --c_black: #101110;
  --c_dark: #101010;
  --c_blue: #011936;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Syne', sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--c_black);

  color: white;

  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: 'Syne Extra', sans-serif;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;

  transition: transform 0.3s cubic-bezier(0, 0, 0.23, 1);

  > section {
    flex-shrink: 0;

    width: 100vw;
    min-height: 100vh;

    overflow: hidden;
  }
}

.shape {
  border-radius: 50%;
  background-color: var(--c_blue);
  z-index: -1;
}

.interaction {
  position: absolute;
  top: 0;
  left: 0;
  right: unset;

  z-index: 2;
}

nav {
  position: fixed;
  top: 0;
  padding: 2vw 4vw;

  width: 100%;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    li {
      padding: 5px;

      font-family: 'Syne Bold', sans-serif;
      font-size: 1.8rem;

      perspective: 1000px;

      a {
        display: inline-block;
        color: inherit;
        text-decoration: none;

        opacity: 1;
        transform: rotateX(0) translateY(0);
        transform-origin: bottom;
        transition: all 0.6s var(--bezier);
      }

      &:nth-of-type(2) a {
        transition-delay: 0.1s;
      }

      &:nth-of-type(3) a {
        transition-delay: 0.2s;
      }
    }

    &.hidden {
      a {
        opacity: 0;
        transform: rotateX(90deg) translateY(-100%);
      }
    }
  }

  @media only screen and (min-width: $phone) {
    right: 0;
    padding: 2vw;

    ul {
      flex-direction: column;
      justify-content: unset;
      align-items: flex-end;

      width: auto;
    }
  }
}

#home {
  position: relative;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);

  h1 {
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 3rem;

    overflow: hidden;
    perspective: 1000px;
    transform: translateY(-5%);

    @media only screen and (min-width: $screen) {
      font-size: 6rem;
    }

    span {
      display: block;

      opacity: 1;
      transform: rotate(0) translateY(0);
      transform-origin: bottom;

      transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1);

      &:nth-child(2) {
        transition-delay: 0.1s;
      }

      &:last-child {
        line-height: 1.1;

        color: var(--c_black);
        -webkit-text-stroke: 1px white;

        transform-origin: top;
        transition-delay: 0.6s;
      }
    }

    &.hidden {
      span {
        opacity: 0;
        transform: translateY(-100%) rotateX(90deg);

        &:last-child {
          transform: translateY(100%) rotateX(-90deg);
        }
      }
    }
  }

  .scroll-indicator {
    grid-row: -2;
    grid-column: 4;

    height: 40px;
    align-self: flex-end;

    overflow: hidden;

    &::after {
      content: '';
      display: block;
      width: 5px;
      height: 100%;

      border-left: 1px solid white;

      animation: scrollDown 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }
  }
}

#about {
  display: block;
  padding: 12vh 4vw;

  background-color: var(--c_blue);

  > div {
    &:nth-of-type(1) {
      img {
        width: 100%;
        height: auto;
      }
    }

    &:nth-of-type(2) {
      display: flex;
      flex-direction: column;

      font-family: 'Syne', sans-serif;
      font-size: 1.8rem;

      h2 {
        font-size: 3rem;
        margin-bottom: 40px;
      }

      p {
        line-height: 1.68;
        margin-bottom: 20px;

        &:first-of-type {
          font-size: 2.4rem;
        }
      }

      ul {
        margin: 10px;
        list-style: disc;

        li {
          margin: 5px;
        }
      }
    }
  }

  @media only screen and (min-width: $screen) {
    display: grid;
    grid-template-columns: 40% 40% auto;
    grid-gap: 4vw;

    padding: 1vh 4vw;

    > div {
      padding: 20% 0;

      &:nth-of-type(2) {
        h2 {
          font-size: 6rem;
        }
      }
    }
  }
}

#work {
  position: relative;
  display: grid;
  grid-template-rows: auto repeat(5, 20vh);
  grid-template-columns: 1fr 1fr 1fr;

  padding: 8vmax 4vw;

  @media only screen and (min-width: $screen) {
    grid-template-rows: auto auto;
    grid-template-columns: repeat(5, 1fr);
  }

  article {
    grid-row: 1;
    grid-column: 1 / -1;

    font-family: 'Syne', sans-serif;

    font-size: 1.6rem;
    line-height: 1.68;

    @media only screen and (min-width: $screen) {
      grid-column: 1 / span 2;
    }
  }

  ul {
    grid-row: 2 / span 2;
    grid-column: 1 / -1;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media only screen and (min-width: $screen) {
      grid-row: 1;
      grid-column: 4 / -1;

      align-items: flex-start;
      justify-content: flex-end;
    }

    li {
      position: absolute;

      font-family: 'Syne Extra', sans-serif;
      font-size: 3.6rem;
      text-align: left;
      word-break: break-all;

      opacity: 0;
      perspective: 1000px;
      transform: translateY(-100%);
      transition: all 1s cubic-bezier(0.33, 1, 0.68, 1);

      span {
        display: inline-block;

        transform: rotateX(90deg);
        transform-origin: bottom;

        transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
      }

      &.show {
        opacity: 1;
        transform: translateY(0);

        span {
          transform: rotateX(0);
        }
      }

      &.prev {
        opacity: 0;
        transform: translateY(100%);

        span {
          transform-origin: top;
          transform: rotateX(-90deg);
        }
      }
    }
  }

  ul,
  .description,
  .work_slider {
    z-index: 2;
  }

  .description {
    grid-row: 5;
    grid-column: 2 / span 2;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    margin-top: 20px;

    font-size: 1.6rem;

    div {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      transition: opacity 0.4s ease-in-out;

      &:not(.show) {
        opacity: 0;
      }

      a {
        display: block;
        align-self: flex-end;

        margin-top: 10px;
        color: white;
      }
    }

    @media only screen and (min-width: $screen) {
      grid-row: 2;
      grid-column: 4;

      justify-content: flex-start;
    }
  }

  .interaction {
    top: unset;
    bottom: 8vmax;

    @media only screen and (min-width: $screen) {
      bottom: 0;
    }
  }

  .work_slider {
    grid-row: -2;
    grid-column: 1;

    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    font-size: 6rem;

    @media only screen and (min-width: $screen) {
      grid-row: 2;
      grid-column: 2;

      font-size: 7rem;
    }

    > span {
      position: absolute;

      opacity: 0;
      perspective: 1000px;
      transform: translateY(-100%);
      transition: all 1s cubic-bezier(0.33, 1, 0.68, 1);

      span {
        display: inline-block;

        transform: rotateX(90deg);
        transform-origin: bottom;

        transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
      }

      &.show {
        opacity: 1;
        transform: translateY(0);

        span {
          transform: rotateX(0);
        }
      }

      &.prev {
        opacity: 0;
        transform: translateY(100%);

        span {
          transform-origin: top;
          transform: rotateX(-90deg);
        }
      }
    }
  }
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--c_blue);

  font-size: 3rem;

  span {
    display: block;
    font-family: 'Syne Extra', sans-serif;
  }
  a {
    font-family: 'Syne';

    color: white;
  }
}
