@import './reset.scss';

@font-face {
  font-family: 'Monument Extended Regular';
  src: url('./assets/fonts/MonumentExtended-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monument Extended Bold';
  src: url('./assets/fonts/MonumentExtended-Ultrabold.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Syne Extra';
  src: url('./assets/fonts/Syne-Extra.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Syne Bold';
  src: url('./assets/fonts/Syne-Bold.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('./assets/fonts/Syne-Regular.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bluu';
  src: url('./assets/fonts/BluuNext-Bold.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --bezier: cubic-bezier(0.4, 0, 0.1, 1);

  --c_black: #101110;
  --c_dark: #101010;
  --c_blue: #011936;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 0.7vw;
  scroll-behavior: smooth;
}

body {
  background-color: var(--c_black);

  color: white;

  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: 'Syne Extra', sans-serif;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // align-items: flex-start;

  transition: transform 0.3s cubic-bezier(0, 0, 0.23, 1);

  > section {
    flex-shrink: 0;

    width: 100vw;
    min-height: 100vh;
  }
}

.shape {
  border-radius: 50%;
  background-color: var(--c_blue);
  z-index: -1;
}

#home {
  position: relative;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);

  padding: 24px 60px;

  .interaction {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 2;
  }

  h1 {
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    justify-content: center;

    // font-family: 'Bebas Neue Bold', sans-serif;
    font-family: 'Syne Extra', sans-serif;
    font-size: 8rem;

    transform: translateY(-10%);

    span {
      display: block;

      &:nth-of-type(2) {
        align-self: center;
      }

      &:last-child {
        align-self: flex-end;
        line-height: 1.1;

        color: var(--c_black);
        -webkit-text-stroke: 1px white;

        transition-delay: 0.5s;
      }
    }

    &.hidden {
      span {
        // transform: translateY(200%) skewY(15deg);
      }
    }
  }

  nav {
    grid-row: 1;
    grid-column: -2;
    z-index: 5;

    ul {
      // display: flex;

      // justify-content: space-between;
      text-align: right;

      li {
        padding: 5px;

        font-family: 'Syne Bold', sans-serif;
        font-size: 1.8rem;

        overflow: hidden;

        a {
          display: inline-block;
          color: inherit;
          text-decoration: none;

          transform: translateY(0) skewY(0);
          transition: transform 1s var(--bezier);
        }

        &:nth-of-type(2) {
          transition-delay: 0.1s;
        }

        &:nth-of-type(3) {
          transition-delay: 0.2s;
        }
      }

      &.hidden a {
        transform: translateY(160%) skewY(10deg);
      }
    }
  }

  .scroll-indicator {
    grid-row: -2;
    grid-column: 4;

    height: 60px;
    align-self: flex-end;

    overflow: hidden;

    &::after {
      content: '';
      display: block;
      width: 5px;
      height: 100%;

      border-left: 1px solid white;

      animation: scrollDown 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }
  }
}

#about {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 24px 100px;

  background-color: var(--c_blue);

  > div {
    overflow: hidden;

    &:nth-of-type(1) {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 60%;
        height: auto;
      }
    }

    &:nth-of-type(2) {
      display: flex;
      flex-direction: column;
      justify-content: center;

      font-family: 'Syne', sans-serif;
      font-size: 1.8rem;

      p {
        line-height: 1.68;
        margin: 20px 0;
      }

      ul {
        list-style: disc;
      }

      .highlight {
        font-family: 'Syne Extra', sans-serif;
      }
    }
  }
}

#work {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 24px 100px;

  .shape {
    position: absolute;
    top: 10%;
    left: 50%;

    width: 20vmax;
    height: 20vmax;
  }

  li {
    font-family: 'Monument Extended Bold', sans-serif;
    font-size: 3rem;

    text-align: center;

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    a {
      color: white;

      text-decoration: none;
    }
  }
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--c_blue);

  font-size: 5rem;

  span {
    display: block;
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
