@import './reset.scss';
@import './style/resolutions.scss';
@import './style/font.scss';

:root {
  --bezier: cubic-bezier(0.4, 0, 0.1, 1);

  --c_black: #101110;
  --c_dark: #101010;
  --c_blue: #011936;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Syne', sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--c_black);

  color: white;

  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: 'Syne Extra', sans-serif;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;

  transition: transform 0.3s cubic-bezier(0, 0, 0.23, 1);

  > section {
    flex-shrink: 0;

    width: 100vw;
    min-height: 100vh;

    overflow: hidden;
  }
}

.shape {
  border-radius: 50%;
  background-color: var(--c_blue);
  z-index: -1;
}

.interaction {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 2;
}

nav {
  position: fixed;
  top: 2vw;
  right: 0;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 100vw;

    li {
      padding: 5px;

      font-family: 'Syne Bold', sans-serif;
      font-size: 1.8rem;

      overflow: hidden;

      a {
        display: inline-block;
        color: inherit;
        text-decoration: none;

        transform: translateY(0) skewY(0);
        transition: transform 1s var(--bezier);
      }

      &:nth-of-type(2) {
        transition-delay: 0.1s;
      }

      &:nth-of-type(3) {
        transition-delay: 0.2s;
      }
    }

    &.hidden a {
      transform: translateY(160%) skewY(10deg);
    }
  }

  @media only screen and (min-width: $phone) {
    right: 2vw;

    ul {
      flex-direction: column;
      justify-content: unset;
      align-items: flex-end;

      width: auto;
    }
  }
}

#home {
  position: relative;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);

  h1 {
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 3rem;

    overflow: hidden;
    transform: translateY(-5%);

    @media only screen and (min-width: $screen) {
      font-size: 6rem;
    }

    span {
      display: block;

      &:last-child {
        line-height: 1.1;

        color: var(--c_black);
        -webkit-text-stroke: 1px white;

        transition-delay: 0.5s;
      }
    }
  }

  .scroll-indicator {
    grid-row: -2;
    grid-column: 4;

    height: 60px;
    align-self: flex-end;

    overflow: hidden;

    &::after {
      content: '';
      display: block;
      width: 5px;
      height: 100%;

      border-left: 1px solid white;

      animation: scrollDown 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }
  }
}

#about {
  display: block;
  padding: 12vh 4vw;

  background-color: var(--c_blue);

  > div {
    &:nth-of-type(1) {
      img {
        width: 100%;
        height: auto;
      }
    }

    &:nth-of-type(2) {
      display: flex;
      flex-direction: column;

      font-family: 'Syne', sans-serif;
      font-size: 1.8rem;

      h2 {
        font-size: 3rem;
        margin-bottom: 40px;
      }

      p {
        line-height: 1.68;
        margin-bottom: 20px;

        &:first-of-type {
          font-size: 2.4rem;
        }
      }

      ul {
        margin: 10px;
        list-style: disc;

        li {
          margin: 5px;
        }
      }
    }
  }

  @media only screen and (min-width: $screen) {
    display: grid;
    grid-template-columns: 40% 40% auto;
    grid-gap: 4vw;

    padding: 1vh 4vw;

    > div {
      padding: 20% 0;

      &:nth-of-type(2) {
        h2 {
          font-size: 6rem;
        }
      }
    }
  }
}

#work {
  position: relative;

  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 40% 40% auto;
  grid-gap: 4vw;
  row-gap: 12vmax;

  padding: 8vmax 4vw;

  .interaction {
    pointer-events: none;
  }

  p {
    // padding: 20% 0;

    font-family: 'Syne', sans-serif;

    font-size: 1.8rem;
    line-height: 1.68;
  }

  ul {
    grid-row: 2;
    grid-column: 1 / span 2;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  li {
    font-family: 'Syne Extra', sans-serif;
    font-size: 6rem;

    text-align: center;

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    a {
      color: white;

      transition: color 0.2s cubic-bezier(0, 0.32, 0.23, 1);

      text-decoration: none;

      &:hover {
        color: var(--c_black);
        -webkit-text-stroke: 1px white;
      }
    }
  }
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--c_blue);

  font-size: 5rem;

  span {
    display: block;
    font-family: 'Syne Extra', sans-serif;
  }
  a {
    font-family: 'Syne';

    color: white;
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
