:root {
  --b_ease-out: cubic-bezier(0.33, 1, 0.68, 1);
  --b_ease-in-out: cubic-bezier(0.65, 0, 0.35, 1);

  --c_black: #191716;
  --c_yellow: #e6af2e;
  --c_white: #e0e2db;
  --c_purple: #3d348b;
  --c_bej: #beb7a4;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

html {
  font-family: 'Syne', sans-serif;
  font-size: 62.5%;
}

body {
  color: white;

  @media only screen and (min-width: $screen) {
    overflow: hidden;
  }
}

a {
  position: relative;

  display: inline-block;

  color: var(--c_yellow);
  font-family: 'Syne Bold', sans-serif;
  text-decoration: none;
  vertical-align: bottom;

  overflow: hidden;
}

@keyframes a_hover {
  45% {
    transform: translateX(100%);
  }
  54% {
    transform: translateX(100%);
  }
  55% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

h1,
h2,
h3 {
  font-family: 'Syne Extra', sans-serif;
}

p {
  line-height: 1.6;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: var(--c_yellow);

  z-index: 6;

  &.hide {
    display: none;
  }

  .loader_text {
    position: absolute;

    display: table;
    color: var(--c_black);
    font-family: 'Syne Extra', sans-serif;
    font-size: 8vw;
    transform: translateY(-5%);

    @media only screen and (min-width: $screen) {
      font-size: 5vw;
    }

    span {
      display: inline-block;
      transform-origin: bottom;
    }

    &:nth-of-type(1).shown span {
      transform-origin: top;
      opacity: 1;
      transform: rotateX(0) translateY(0);
    }

    &:nth-of-type(2) {
      span {
        opacity: 0;
        transform: rotateX(90deg) translate3d(0, -100%, 0);
      }
    }
  }
}

.wrapper {
  > section {
    flex-shrink: 0;

    width: 100vw;
    min-height: 100vh;
    padding: 8vmax 4vw;

    overflow: hidden;

    @media only screen and (min-width: $screen) {
      padding: 6vw;
    }

    a {
      line-height: 1.6;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        display: block;

        border-bottom: 2px solid var(--c_yellow);
      }

      &:hover {
        &::before {
          animation: a_hover 0.5s var(--b_ease-in-out);
        }
      }
    }
  }
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2vw 4vw;

  z-index: 3;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    li {
      padding: 5px;

      font-family: 'Syne Bold', sans-serif;
      font-size: 1.8rem;

      cursor: pointer;
    }
  }

  @media only screen and (min-width: $phone) {
    width: unset;

    right: 0;
    padding: 2vw;

    ul {
      flex-direction: column;
      justify-content: unset;
      align-items: flex-end;

      width: auto;
    }
  }
}

.home {
  position: relative;

  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);

  padding: 0 !important;

  background-color: var(--c_yellow);

  h1 {
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--c_black);
    font-size: 8vw;
    pointer-events: none;
    transform: translateY(-5%);

    @media only screen and (min-width: $screen) {
      font-size: 5vw;
    }

    > span {
      display: inline-block;

      opacity: 1;
      perspective: 1000px;

      .char {
        display: inline-block;
      }

      &:nth-child(2) {
        transition-delay: 0.1s;
      }

      &:last-child {
        line-height: 1.1;

        color: var(--c_white);

        transform-origin: top;
        transition-delay: 0.6s;
      }

      span {
        opacity: 1;

        transform-origin: bottom;
      }
    }
  }

  .interaction {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    right: unset;

    z-index: 2;
  }
}

.about {
  display: block;

  background-color: var(--c_black);

  > div {
    align-self: flex-start;

    &:nth-of-type(1) {
      overflow: hidden;

      img {
        width: 110%;
        height: auto;

        filter: grayscale(1);
      }
    }

    &:nth-of-type(2) {
      display: flex;
      flex-direction: column;

      font-family: 'Syne', sans-serif;
      font-size: 1.8rem;
      vertical-align: top;

      h2 {
        margin: 20px 0;
        font-size: 6.8vw;
      }

      p {
        margin: 14px 0;

        &:first-of-type {
          font-size: 2.4rem;
        }
      }

      h3 {
        margin-top: 40px;
      }

      ul {
        list-style: disc;

        li {
          margin: 5px;
        }
      }
    }
  }

  @media only screen and (min-width: $screen) {
    display: grid;
    grid-template-columns: 40% 40% auto;
    grid-gap: 4vw;

    > div {
      &:nth-of-type(2) {
        h2 {
          margin-bottom: 20px;
          font-size: 3vw;
        }
      }
    }
  }
}

.work {
  display: block;

  min-height: unset;

  background-color: var(--c_white);
  color: var(--c_black);

  @media only screen and (min-width: $screen) {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  article {
    grid-row: 1;
    grid-column: 1 / -1;

    font-family: 'Syne', sans-serif;

    font-size: 1.6rem;
    line-height: 1.6;

    @media only screen and (min-width: $screen) {
      grid-column: 1;
    }
  }

  h2 {
    grid-row: 2;
    grid-column: 2;

    margin-top: 6vmax;

    color: white;
    font-size: 5.4vmax;
    text-align: right;

    @media only screen and (min-width: $screen) {
      margin: 20px 0;
    }
  }

  ul {
    grid-column: 1 / -1;

    display: grid;
    align-items: center;
    margin-top: 0;

    @media only screen and (min-width: $screen) {
      grid-row: 3;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 4vmax;
      justify-items: flex-start;
      margin-top: 60px;
    }

    li {
      margin-top: 6vmax;

      font-size: 4.4vmax;
      text-align: right;

      @media only screen and (min-width: $screen) {
        margin-top: 0;

        &:nth-child(even) {
          justify-self: flex-end;
        }
      }

      a {
        color: var(--c_black);

        line-height: 1;
        font-family: 'Syne Bold', sans-serif;
        font-size: 1em;
        text-align: right;

        &::before {
          display: none;
        }

        &:focus {
          color: var(--c_purple);
        }

        &:hover {
          color: var(--c_yellow);

          &::after {
            opacity: 1;
          }
        }

        &::after {
          content: attr(data-name) ' ';
          position: absolute;
          top: 0;
          left: 0;

          color: transparent;
          -webkit-text-stroke: 1px var(--c_white);
          font-family: inherit;
          font-size: inherit;

          opacity: 0;
          z-index: 5;
        }
      }

      .project {
        position: relative;
        display: inline-block;

        &:hover .project_image {
          transform: rotateX(0) translateY(0);

          &_wrapper {
            opacity: 1;
          }
        }
      }

      .project_index {
        display: none;
        font-size: 0.3em;

        @media only screen and (min-width: $screen) {
          display: inline-block;
        }
      }

      .project_image {
        &_wrapper {
          position: absolute;
          left: 0;
          top: 0;

          display: none;

          opacity: 0;
          perspective: 1000px;
          pointer-events: none;

          transition: opacity 0.2s var(--b_ease-out);
          z-index: 4;

          @media only screen and (min-width: $screen) {
            display: block;
          }
        }

        width: 21.3vmax;
        height: 10vmax;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        transform: rotateX(90deg) translateY(-100%);
        transition: transform 0.4s var(--b_ease-out);
      }
    }
  }
}

.contact {
  position: relative;
  display: grid;

  padding: 8vmax 4vw;

  background-color: var(--c_purple);

  @media only screen and (min-width: $screen) {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  &_content {
    grid-row: 1;
    grid-column: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 1.8rem;

    > div > * {
      margin-bottom: 40px;
    }

    h2 {
      font-size: 5.4vmax;
    }

    ul {
      display: flex;
      justify-content: space-between;
    }

    footer {
      text-align: center;

      @media only screen and (min-width: $screen) {
        text-align: left;
      }
    }
  }

  .interaction {
    position: absolute;
    top: 50vh;
    right: 0;
    width: 100vw;
    height: 50vh;

    z-index: 2;

    @media only screen and (min-width: $screen) {
      top: 0;

      width: 50vw;
      height: 100vh;
    }
  }
}
