@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");

:root {
  * {
    box-sizing: border-box;
    font-size: 10px;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f0edee;

  font-size: 10px;
}

.poster {
  display: grid;
  grid-template-rows: 2fr 7fr;

  width: 67.8vmin;
  height: 95vmin;

  background-color: #d9e0d2;

  font-family: "Roboto", sans-serif;

  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);

  header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(7, 1fr);
    padding: 24px;
    padding-bottom: 0;
    grid-gap: 10px;

    .info {
      display: flex;
      flex-direction: column;

      overflow: hidden;

      &:nth-of-type(1) {
        grid-column: 1 / span 2;
      }

      &:nth-of-type(2) {
        grid-column: 3 / span 2;
      }

      &:nth-of-type(3) {
        grid-column: 6 / span 2;
      }

      &:nth-of-type(4) {
        grid-column: 1 / span 2;
      }

      &:nth-of-type(5) {
        grid-column: 3 / span 2;
      }

      span {
        color: white;
        font-size: 0.9rem;
        font-weight: bold;
        line-height: 1.4;

        opacity: 0;
        transform: rotate(-90deg);
        transform-origin: left;

        transition: all 1s linear;
      }
    }

    &.show {
      span {
        color: #b91a19;
        opacity: 1;
        transform: rotate(0);
      }
    }
  }

  canvas {
    grid-row: 2;
    grid-column: 1 / -1;

    width: 100%;
    height: 100%;
  }
}
