#home {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);

  .hero_ward {
    font-size: 6rem;

    &:first-of-type {
      grid-area: 2 / 3 / span 1 / span 1;
      text-align: right;
    }

    &:last-of-type {
      grid-area: 3 / 2 / span 1 / span 1;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      text-align: left;
    }
  }

  .image {

    &_top, &_bottom {
      background-color: var(--c_red);
    }

    &_top {
      grid-row: 1 / span 2;
      grid-column: 1 / span 2;
    }

    &_bottom {
      grid-row: 3 / span 2;
      grid-column: 3 / span 2;
    }
  }

  menu {
    grid-row: 2 / span 2;
    grid-column: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    a {
      background-color: white;
      padding: 20px 40px;

      transform: rotate(-90deg);
      transform-origin: 50% 50%;
    }
  }

  .logo {
    position: absolute;
    top: var(--frame-padding);
    left: var(--frame-padding);

    padding: 30px;
    background-color: white;
  }

}