#home {
  display: grid;
  grid-template-rows: 80px repeat(4, 1fr);
  grid-template-columns: 80px 1fr 2fr 2fr 1fr 80px;

  .articles {
    grid-row: 2 / span 2;
    grid-column: 2 / span 2;

    position: relative;

    .layer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      padding-left: 80px;

      color: var(--c_blue-light);

      opacity: 0;
      z-index: 0;

      transition: opacity .6s cubic-bezier(.55, 0, .1, 1);

      &-displayed {
        opacity: 1;
        z-index: 1;

        transition: opacity .6s cubic-bezier(.55, 0, .1, 1) .3s;
      }

      h1 {
        font-family: 'Playfair Display', serif;
        font-size: 12rem;
      }

      button {
        align-self: center;

        padding: 10px 20px;
        border: none;

        background-color: white;

        color: var(--c_red);

        // background-color: var(--c_red);
        // color: white;

        font-size: 1.6rem;
      }

    }
    
    article {
      //THis needs to change
      padding-right: 80px;
  
      h2 {
        padding: 20px 0;
        margin-bottom: 20px;
        font-size: 2rem;
  
        background-color: var(--c_blue-light);
        color: white;
      }
  
      p {
        line-height: 1.5;
      }
    }
  }


  .hero_index {
    grid-row: 5;
    grid-column: 5;

    display: flex;
    justify-content: flex-end;
    align-self: flex-end;

    font-size: 6rem;

    overflow: hidden;

    .hero_index_digit {
      color: var(--c_blue-light);
    }
  }

  .hero_button {

    &-next {
      grid-row: 4;
      grid-column: 3;

      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }

    &-prev {
      grid-row: 5;
      grid-column: 4;
    }

    button {
      padding: 30px;
      border: none;

      background-color: var(--c_red);
      
      color: white;
    }
  }

  .image {

    &_top, &_bottom {
      position: relative;
      overflow: hidden;
    
      .layer {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        // clip-path: polygon(0% 100%, 0% 100%, 0% 100%, 0% 100%);
        clip-path: polygon(100% 0%, 100% 0%, 100% 0%, 100% 0%);
        opacity: 0;
        transition: clip-path .6s cubic-bezier(.55, 0, .1, 1), opacity .6s cubic-bezier(.55, 0, .1, 1);
        z-index: 0;

        &-displayed {
          clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
          opacity: 1;
          z-index: 2;
        }

        &-displayed-prev {
          clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
          opacity: 1;
          z-index: 1;
        }
      }
    }

    &_top {
      grid-row: 1 / span 4;
      grid-column: 4 / span 3;
    }

    &_bottom {
      grid-row: 5;
      grid-column: 1 / span 3;
    }
  }

  menu {
    grid-row: 2 / span 3;
    grid-column: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding-bottom: 80px;

    a {
      background-color: white;
      padding: 20px;

      color: var(--c_red);
      font-size: 1.4rem;
      text-decoration: none;

      transform: rotate(-90deg);
      transform-origin: 50% 50%;
      backface-visibility: hidden;
    }
  }

  .logo {
    grid-row: 1;
    grid-column: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    letter-spacing: 5px;

    background-color: var(--c_red);
  }

  .color-splash {
    grid-row: -2;
    grid-column: 1;

    background-color: var(--c_blue-light);
    mix-blend-mode: multiply;

    z-index: 3;
  }

}