@import './reset.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:700|Shadows+Into+Light&display=swap');

:root {
  font-size: 14px;
}

* {
  box-sizing: border-box;   
}

body {
  color: white;
  font-family: 'Roboto Mono', monospace;
}
