html, body, main {
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;
}

main {
  position: relative;

  background-image: linear-gradient(#27AF79, #ABD5AD);

  overflow: hidden;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}
