@import './reset.scss';

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  padding: 50px;
  margin: 0;
  // background-color: #eee5e5;

  // background-color: white;
}

.wrapper {
  width: 100%;
  height: 100%;

  background-image: linear-gradient(blue, #3207e6 40%, #ca042c);
}
