@import './reset';
@import './variables';

@import './components/menu';
@import './pages/home';

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
}

html, body, #root {
  width: 100%;
  height: 100%;
}

html {
  font-size: 14px;
}

.page {
  position: relative;

  width: 100%;
  height: 100%;
}

.menu_button {
  position: absolute;
  top: 0;
  right: 0;

  padding: 20px;
  border: none;

  background-color: var(--c_blue-light);

  color: white;

  z-index: 6;
  cursor: pointer;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}