.stories {
}

main {
  display: grid;
  grid-template-rows: 0px auto 0px;
  grid-template-columns: 0px 1fr 1fr 2fr 1fr 0px;
  grid-gap: 50px;

  width: 100vw;
  height: 100vh;

  color: var(--c_red);

  header {
    grid-row: 2;
    grid-column: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      font-size: 20rem;
      font-family: "Six Caps", sans-serif;
      line-height: 1;
    }

    .scroll_banner {
      font-size: 5.5rem;

      span {
        display: inline-block;
        padding: 0 10px;

        transform: rotate(90deg);

        animation: fade 3s linear infinite;

        @for $i from 1 through 3 {
          &:nth-of-type(#{$i}) {
            animation-delay: .4s * $i;
          }
        }
      }
    }
  }

  .splitter {
    grid-row: 2;
    grid-column: 3;

    // border-left: 1px solid var(--c_red);
    // border-right: 1px solid var(--c_red);

    border-bottom: 1px solid var(--c_red);

    opacity: 0.4;
  }

  .story_week {
    grid-row: 2;
    grid-column: 4;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    background-color: var(--c_red);
    background-image: url("https://images.unsplash.com/photo-1565667562916-fcac2e6818c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .story_week_info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    font-family: "Roboto", sans-serif;
    font-size: 1rem;

    opacity: 1;

    strong {
      font-weight: bold;
    }

    .author {
      transform-origin: right;
      transform: rotate(-90deg);

      span, strong {
        display: block;
      }
    }
  }

  .hero_banner {
    grid-row: 2;
    grid-column: 5;

    // font-size: 9rem;
    font-size: 5rem;
    // font-family: "Roboto", sans-serif;
    font-family: "Six Caps", sans-serif;

    overflow: hidden;

    span {
      display: block;

      // animation: fade 3s linear infinite;

      @for $i from 1 through 11 {
        &:nth-of-type(#{$i}) {
          animation-delay: -.2s * $i;
        }
      }
    }
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
