.stories {
}

main {
  display: grid;
  grid-template-rows: 0px auto 0px;
  grid-template-columns: 0px 1fr 1fr 2fr 1fr 0px;
  grid-gap: 50px;

  width: 100vw;
  height: 100vh;

  color: var(--c_red);

  header {
    grid-row: 2;
    grid-column: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      font-size: 20rem;
      font-family: "Six Caps", sans-serif;
      line-height: 1;

      &:nth-of-type(2) span:nth-of-type(2) {
        border: 2px solid var(--c_red);
      }
    }

    > span {
      font-size: 5.5rem;
    }
  }

  .splitter {
    grid-row: 2;
    grid-column: 3;

    // border-left: 1px solid var(--c_red);
    border-right: 1px solid var(--c_red);

    // border-bottom: 1px solid var(--c_red);

    opacity: 0.4;
  }

  .story_week {
    grid-row: 2;
    grid-column: 4;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    background-color: var(--c_red);
    background-image: url("https://images.unsplash.com/photo-1565667562916-fcac2e6818c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero_banner {
    grid-row: 2;
    grid-column: 5;

    font-size: 9rem;
    // font-family: "Roboto", sans-serif;
    font-family: "Six Caps", sans-serif;

    overflow: hidden;

    span {
      display: block;
    }
  }
}
